version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Install backend dependencies
          command: |
            cd backend
            npm install
      - run:
          name: Run a simple test and
          command: |
            cd backend
            node -e "console.log('Backend build works')"




        
  
  deploy_dev:
     docker:
       - image: cimg/base:stable
     steps:
      - checkout
      - run:
          name: create build artifact
          command: |
            cd backend
            mkdir -p build
            echo "Build created at $(date)" > build/info.txt
      - run:
          name: Upload to s3 dev bucket
          command: |
            aws s3 cp backend/build/info.txt s3://mini-classroom-dev/info.txt

workflows:
  build_and_test:
    jobs:
      - build
      - deploy_dev:
          requires:
            - build